<!doctype html>
<html lang="ru">
	<head>
		<!-- Обязательные метатеги -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

		<title>places</title>
	</head>
	<body>
    
		<h1>Название места</h1>
		{{place.name_text}}
		
		<h1>Комментарий</h1>
		{{place.comment_text}}
			
		<a href="{% url 'places:index'%}" class="btn btn-primary btn-lg"> Вернуться к списку мест </a>
		
	</body>
</html>