<!doctype html>
<html lang="ru">
	<head>
		<!-- Обязательные метатеги -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap CSS -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

		<title>create new place</title>
	</head>
	<body>
		
		<form action="{% url 'places:get_new_place' %}" method="post">
		{% csrf_token %}
		{{ form }}
		<input type="submit" value="Сохранить">
		</form>
		

	</body>
</html>